/* header----style */
nav {
    background-color: white;
}

.nav-text {
    margin-left: 11px;
    color: #ffc000;
    font-size: 11px;
}

/* button----style */
button {
    font-size: 12px;
}

button span {
    font-size: 12px;

}


/* home-page-----style */
.banner {
    margin: 140px 60px 60px 60px;
}

.middle-text {
    font-size: 22px;
    font-weight: bold;
    color: #5F6368
}

.middle-text-2 {
    margin-top: 45px;
    font-size: 17px;
    font-weight: bold;
    color: #5F6368;
}

.payment-section {
    margin: 0px 65px 75px 85px;
}


/* footer----style */
.footer-container {
    margin-left: 100px;
}

.paragraph-1 {
    color: #ffc000;
    font-size: 20px;
    font-weight: bold;
}

.drop-down-link {
    margin-left: 80px;
}

.drop-down-link li {
    margin-left: 25px;
    margin-top: 20px;
}

.drop-down-link u {
    color: black;
    font-size: 11px;
    cursor: pointer;
}

.drop-down-link h5 {
    color: #ffc000;
    font-size: 20px;
    font-weight: bold;
}

.drop-down-link p {
    font-size: 11px;
    margin-right: 95px;

}

.side-button-1 {
    padding: 1em;
    height: 50px;
    position: fixed;
    right: 2%;
    top: 65%;
    border-radius: 69px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 1px 4px grey;
    cursor: pointer;
    color: #ffc000;
    text-align: center;
    font-size: 15px;
    border: none;
}

.side-button-2 {
    height: 50px;
    margin-top: 70px;
    padding: 1em;
    position: fixed;
    right: 2%;
    top: 65%;
    border-radius: 69px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 1px 4px grey;
    cursor: pointer;
    color: #ffc000;
    text-align: center;
    font-size: 15px;
    border: none;
}

.side-button-2:hover {
    background-color: #ffc000;
    color: white;
}


/* animation----style */
.animation {
    margin-top: 100px;
}

.lottie-img-1 {
    height: 300px;
    width: 300px;
    margin-left: 220px;
}

.anim-text-contianer-1 h5 {
    color: #ffc000;
    font-size: 20px;
    font-weight: bold;
}

.anim-text-contianer-1 p {
    margin-top: 20px;
    font-size: 12px;
    margin-right: 60px;

}

.lottie-img-2 {
    height: 250px;
    width: 250px;
    margin-left: 60px;

}

.anim-text-contianer-2 h5 {
    color: #ffc000;
    font-size: 20px;
    font-weight: bold;
    margin-left: 200px;
}

.anim-text-contianer-2 p {
    margin-top: 20px;
    font-size: 12px;
    margin-left: 200px;

}